# Intro to python

## Variables in python

- Each variable has a name (from which is referred) and a type. <br>
- It is different uppercase and lowercase. <br>
- Python wil define the most possible type of the variable when it is assigned. It is not needed to declare it.

```python
# Assigning a value
variable = value
# Assigning multiple values
variable1, variable2 = value1, value2
```

### Numbers in python

The 2 types for numbers are integer and float

```python
int = 2
float = 2.5
```

### Text in python

For texts it is used type `str` (strings). It can be assigned as a single string or multiline.

```python
string = "This is a string"
string = 'This is a string'
multiline = """Multi
                 line"""
multiline = '''Multi
                 line'''
```

### Lists

Lists are ordered sets of elements of the same or different type. <br>
The lists can be modified.

```python
list_of_numbers = [1,2,3]
list_of_characters = ['a', 'b', 'c']
list_of_lists = [[1,2], [3,4], [5,6]]
mixed_list = [1, 'Group', [1,2,3,4]]
empty_list = []
```

### Tuples

Tuples are ordered sets of elements of the same or different type. <br>
Tuples cannot be modified after created

```python
tuple_of_numbers = (1,2,3)
tuple_of_strings = ('a', 'b', 'c')
tuple_of_lists = ([1,2], [3,4], [5,6])
mixedtuple = (1, 'Group', [1,2,3,4])
```

### Dictionaries

Dictionaries are sets of elements where each element can be identified by a unique key

```python
dict_of_numbers = {'k1': 1, 'k2': 2}
dict_of_strings = {'k1': 'a', 'k2': 'b', 'k3': 'c'}
dict_of_lists = {'k1': [1,2], 'k2': [3,4], 'k3': [5,6]}
mixedDict = {'k1': 1, 'k2': 'Group', 'k3': [1,2,3,4]}
```

### Boolean

A boolean is variable that can only take the values: `True` or `False`:

```python
true = true
false = False
```

### None

Also known as Null (NaN). In Python it is called `NoneType`:

```python
null = None
```

## Operations in python

### Arithmetic operators
Python performs the operations differently according data type.

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | exponentiation |
| ~   | negation |

### Relational operators

To compare Python variables.

| Symbol | Task Performed |
|----|---|
| == | True, if values are equal |
| is | True, if identical, i.e. the **same** object  |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |
| in  | test pertenence to a collection (list, set, dictionary) |

### Multiple Variable assignation
```python
a,b=variable1, variable2

# Interchange the values of variables
a,b =b,a
```

## To print in python

In [2]:
# To print strings
print("Hello world")

Hello world

In [3]:
# To print a variable
value=2
print("Integer: ",value)

Integer:  2

In [4]:
# To concatenate and print strings
my_name='Ricardo'
print('hello my name is '+my_name+'!')

hello my name is Ricardo!

In [5]:
# To print "" in console 
'My name is "Ricardo"' == "My name is \"Ricardo\""

True

In [6]:
# To print multiline string

multiline = """This is  
                a multiline"""
print(multiline)

This is
                a multiline

In [7]:
# Use of variables while printing strings
height = 1.70
weight = 60.13 

my_string=f"My height is {height} meters tall and \nmy weight is {weight} kilograms"
print(my_string)

My height is 1.7 meters tall and
my weight is 60.13 kilograms

In [8]:
# Another way for the use of variables while printing
"My height is {h} meters tall and my weight is {w} kilograms".format(h= height, w=weight)

'My height is 1.7 meters tall and my weight is 60.13 kilograms'

In [9]:
# Specify precision while printing variables in string
f"My weight is {weight:.1f} kilograms"

'My weight is 60.1 kilograms'

In [10]:
# Use of functions while printing
your_height=1.55
f"I am { round( (height - your_height)* 100 )  } cm taller than you"

'I am 15 cm taller than you'

## Built-in functions in Python

In [11]:
# Determine the type of a variable
type(my_string)

str

In [3]:
# To convert one type of variable to another if possible

```python
int(<variable>)
float(<variable>)
str(<variable>)
bool(<variable>)
list(<variable>)
tuple(<variable>)
dict(<variable>)
```

In [6]:
# To read variable from keyboard
input1 = int(input("Please enter an integer:"))
print("The squared root is:",input1**0.5)

Please enter an integer:9
The squared root is: 3.0

In [7]:
# Absolute value of a number
abs(-2)

2

In [8]:
# Round a float number
round(4.312321, 2)

4.31

In [9]:
# To find the minimum value of a list
list_built=[2,3,4,6,20]
min(list_built)

2

In [10]:
# To find the maximum value of a list
list_built=[2,3,4,6,20]
max(list_built)

20

In [12]:
# To define a sequence of numbers
print(range(1,10,1))

range(1, 10)

In [13]:
# To get the length of a list
len_list=[2,2,3,4,5,6,7]
len(len_list)

7

## List management

In [5]:
# Define lists
a= [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [6]:
# To select last value from a list
a[-1]

5

In [7]:
# To select a specific subset from a list
a[1:-2]

[2, 3]

In [8]:
# To access elements onward the second position
a[1:]

[2, 3, 4, 5]

In [43]:
# A list inside a list
my_list=[1,2,[a,b,c]]
my_list

[1, 2, [1, 1, (3, 2)]]

In [45]:
# To access an element inside the second list
my_list[2][2]

(3, 2)

In [9]:
# List comprehension
temperatures = [-5, 29, 26, -7, 1, 18, 12, 31]
temperatures_adjusted = [temp + 20 for temp in temperatures]
temperatures_adjusted

[15, 49, 46, 13, 21, 38, 32, 51]

In [10]:
# Lambda function: A simmple function in one line
add_two = lambda input:input+2
add_two(3)

5

In [11]:
#Using range to create an initial list and using comprehension lists to modify it
x_values = [2*index for index in range(5)]
x_values

[0, 2, 4, 6, 8]

## Tuples management

In [2]:
tuple_nr=(1,2,3)
tuple_nr

(1, 2, 3)

In [12]:
# When you have a set of variables and set it to another, it will create a tuple
c=a,b
c

(3, 2)

In [13]:
# Pass the variables from a tuple to independent variables
y,z=c
print(y,z)

3 2

In [35]:
# Concatenate tuples
tuple1=(1,2,3)
tuple2=(4,5,6)
tuple3=tuple1+tuple2
tuple3

(1, 2, 3, 4, 5, 6)

In [40]:
# Repeat tuples
tuple4=tuple1*3
tuple4

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [37]:
# Validate if an element exists in a tuple
1 in tuple1

True

In [39]:
# Returns the index of an element in a tuple
tuple1.index(1)

0

In [41]:
# Returns how many times an element is repeated
tuple4.count(3)

3

## Dictionaries management

In [29]:
dictNum = {'n1':1,'n2':2, 'n3':3, 'n4':4}
dictNum

{'n1': 1, 'n2': 2, 'n3': 3, 'n4': 4}

In [30]:
# To get just the values
dictNum.values()

dict_values([1, 2, 3, 4])

In [31]:
# To get the value that corresponds just to the key entered
print(dictNum.get('n1'))
print(dictNum['n1'])

1
1

In [32]:
# Returns the value of the entered key, and then deletes the key and value
print(dictNum.pop('n1'))
print(dictNum)

1
{'n2': 2, 'n3': 3, 'n4': 4}

In [33]:
# del dictionary['key']: Eliminates the value (and the key) associated with the indicated key.
del dictNum['n4']
print(dictNum)

{'n2': 2, 'n3': 3}

In [34]:
# Updates the value of a certain key or creates it if it doesn't exist
dictNum.update({'n3':-3})
dictNum.update({'n4':4})
print(dictNum)

{'n2': 2, 'n3': -3, 'n4': 4}

In [5]:
# To get just the keys
dictNum.keys()

dict_keys(['n1', 'n2'])

In [8]:
# To express the keys as list
list(dictNum.keys())

['n1', 'n2']

In [26]:
# "key" in dictionary: returns true (True) or false (False) if the key exists in the dictionary
print ("n2" in dictNum)
print ("n6" in dictNum)

True
False

In [28]:
# "value" in dictionary.values (): returns true (True) or false (False) if the value exists in the dictionary
print(2 in dictNum.values())
print(6 in dictNum.values())

True
False

## Sets in python
The `set` data type allows to work with sets and perform set operations on these variables. It is defined in braces (`{}`) and elements are separated with commas.

```python
c = {1,2,3}
```

In [42]:
# Defining sets
c1 = {1, 2, 3, 4, 5, 6}
c2 = {2, 4, 6, 8, 10}
c3 = {1, 2, 3}

In [44]:
# Union of sets
c1|c2

{1, 2, 3, 4, 5, 6, 8, 10}

In [45]:
# Union with a method
c1.union(c2)

{1, 2, 3, 4, 5, 6, 8, 10}

In [46]:
# Intersection of sets
c1 & c2

{2, 4, 6}

In [47]:
# Intersection with a method
c1.intersection(c2)

{2, 4, 6}

In [48]:
# Difference of sets
c1 - c2

{1, 3, 5}

In [50]:
# Difference with a method
c1.difference(c2)

{1, 3, 5}

In [51]:
# Exclusive union
c1^c2

{1, 3, 5, 8, 10}

In [52]:
# Exclusive union with the method
c1.symmetric_difference(c2)

{1, 3, 5, 8, 10}

## Help in python

In [13]:
# Help command also shift+tab+tab
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [14]:
# Use of the "?" to get help for the commands
max?

In [15]:
# Use "?" to get help for the variables created
x=2
x?