# Intro to python

## Variables in python

- Each variable has a name (from which is referred) and a type. <br>
- It is different uppercase and lowercase. <br>
- Python wil define the most possible type of the variable when it is assigned. It is not needed to declare it.

```python
# Assigning a value
variable = value
# Assigning multiple values
variable1, variable2 = value1, value2
```

### Numbers in python

The 2 types for numbers are integer and float

```python
int = 2
float = 2.5
```

### Text in python

For texts it is used type `str` (strings). It can be assigned as a single string or multiline.

```python
string = "This is a string"
string = 'This is a string'
multiline = """Multi
                 line"""
multiline = '''Multi
                 line'''
```

### Lists

Lists are ordered sets of elements of the same or different type. <br>
The lists can be modified.

```python
list_of_numbers = [1,2,3]
list_of_characters = ['a', 'b', 'c']
list_of_lists = [[1,2], [3,4], [5,6]]
mixed_list = [1, 'Group', [1,2,3,4]]
empty_list = []
```

### Tuples

Tuples are ordered sets of elements of the same or different type. <br>
Tuples cannot be modified after created

```python
tuple_of_numbers = (1,2,3)
tuple_of_strings = ('a', 'b', 'c')
tuple_of_lists = ([1,2], [3,4], [5,6])
mixedtuple = (1, 'Group', [1,2,3,4])
```

### Dictionaries

Dictionaries are sets of elements where each element can be identified by a unique key

```python
dict_of_numbers = {'k1': 1, 'k2': 2}
dict_of_strings = {'k1': 'a', 'k2': 'b', 'k3': 'c'}
dict_of_lists = {'k1': [1,2], 'k2': [3,4], 'k3': [5,6]}
mixedDict = {'k1': 1, 'k2': 'Group', 'k3': [1,2,3,4]}
```

### Boolean

A boolean is variable that can only take the values: `True` or `False`:

```python
true = true
false = False
```

### None

Also known as Null (NaN). In Python it is called `NoneType`:

```python
null = None
```

## Operations in python

### Arithmetic operators
Python performs the operations differently according data type.

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | exponentiation |
| ~   | negation |

### Relational operators

To compare Python variables.

| Symbol | Task Performed |
|----|---|
| == | True, if values are equal |
| is | True, if identical, i.e. the **same** object  |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |
| in  | test pertenence to a collection (list, set, dictionary) |

### Multiple Variable assignation
```python
a,b=variable1, variable2

# Interchange the values of variables
a,b =b,a
```

## Types of errors in python

### SyntaxError
It means that something is badly written, for example incorrect punctuation, a not expected command, a missinng parenthesis.
### NameError
It means that you are trying to use a word that might be a variable but it was not defined

## To print in python

In [2]:
# To print strings
print("Hello world")

Hello world

In [3]:
# To print a variable
value=2
print("Integer: ",value)

Integer:  2

In [4]:
# To concatenate and print strings
my_name='Ricardo'
print('hello my name is '+my_name+'!')

hello my name is Ricardo!

In [5]:
# To print "" in console 
'My name is "Ricardo"' == "My name is \"Ricardo\""

True

In [6]:
# To print multiline string

multiline = """This is  
                a multiline"""
print(multiline)

This is
                a multiline

In [7]:
# Use of variables while printing strings
height = 1.70
weight = 60.13 

my_string=f"My height is {height} meters tall and \nmy weight is {weight} kilograms"
print(my_string)

My height is 1.7 meters tall and
my weight is 60.13 kilograms

In [8]:
# Another way for the use of variables while printing
"My height is {h} meters tall and my weight is {w} kilograms".format(h= height, w=weight)

'My height is 1.7 meters tall and my weight is 60.13 kilograms'

In [9]:
# Specify precision while printing variables in string
f"My weight is {weight:.1f} kilograms"

'My weight is 60.1 kilograms'

In [10]:
# Use of functions while printing
your_height=1.55
f"I am { round( (height - your_height)* 100 )  } cm taller than you"

'I am 15 cm taller than you'

## Built-in functions in Python

In [11]:
# Determine the type of a variable
type(my_string)

str

In [3]:
# To convert one type of variable to another if possible

```python
int(<variable>)
float(<variable>)
str(<variable>)
bool(<variable>)
list(<variable>)
tuple(<variable>)
dict(<variable>)
```

In [6]:
# To read variable from keyboard
input1 = int(input("Please enter an integer:"))
print("The squared root is:",input1**0.5)

Please enter an integer:9
The squared root is: 3.0

In [7]:
# Absolute value of a number
abs(-2)

2

In [8]:
# Round a float number
round(4.312321, 2)

4.31

In [9]:
# To find the minimum value of a list
list_built=[2,3,4,6,20]
min(list_built)

2

In [10]:
# To find the maximum value of a list
list_built=[2,3,4,6,20]
max(list_built)

20

In [12]:
# To define a sequence of numbers
print(range(1,10,1))

range(1, 10)

In [13]:
# To get the length of a list
len_list=[2,2,3,4,5,6,7]
len(len_list)

7

## Loops in python

In [36]:
# For loop
vehicles=["car","bus","bike","airplane"]
for i in vehicles:
    print(i)

car
bus
bike
airplane

In [37]:
# Use of break to stop a loop
for i in vehicles:
    if i=="bike":
        break
    else:
        print(i)

car
bus

In [38]:
# Use of continue to pass to the next iteration
for i in vehicles:
    if i=="bike":
        continue
    else:
        print(i)

car
bus
airplane

In [39]:
# While loop
shell=0
while shell<3:
    print(vehicles[shell])
    shell+=1

car
bus
bike

## String management

In [43]:
# Last value in a string
first_string="Mississippi"
first_string[-1]

'i'

In [44]:
# Select a specific subset in a string
first_string[1:4]

'iss'

In [46]:
# Concatenate strings
second_string=first_string+" "+"Queen"
print(second_string)

Mississippi Queen

In [47]:
# Return lower case characters in string
second_string.lower()

'mississippi queen'

In [49]:
# Return upper case characters in string
second_string.upper()

'MISSISSIPPI QUEEN'

In [53]:
# Return a list of split strings. The argument is the separator
string_list=second_string.split(" ")
string_list

['Mississippi', 'Queen']

In [61]:
# To split text by lines
full_text="""Little is known of Platt’s early life, except that he was the son of Hugh Platt, of Aldenham, and was apprenticed to a London brewer. 
His date of birth can be inferred from his portrait, which says he was in his 76th year in 1600.He became a master brewer of the Worshipful Company of Brewers and the owner of the Old Swan brewery in James Street, London. 
In 1576 and 1581 he served as Master of the Worshipful Company of Brewers. He also became an Alderman of London."""
split_text=full_text.split("\n")
split_text

['Little is known of Platt’s early life, except that he was the son of Hugh Platt, of Aldenham, and was apprenticed to a London brewer. ',
 'His date of birth can be inferred from his portrait, which says he was in his 76th year in 1600.He became a master brewer of the Worshipful Company of Brewers and the owner of the Old Swan brewery in James Street, London. ',
 'In 1576 and 1581 he served as Master of the Worshipful Company of Brewers. He also became an Alderman of London.']

In [62]:
split_text[0]

'Little is known of Platt’s early life, except that he was the son of Hugh Platt, of Aldenham, and was apprenticed to a London brewer. '

In [65]:
# To join strings back again. The method is applied to the before named separator and the argument is the list
print(" ".join(string_list))

Mississippi Queen

In [68]:
# To clean the space in a string
cluttered_string="          strong!!!!"
print(cluttered_string.split())

['strong!!!!']

In [69]:
# To clean from a specific character
print(cluttered_string.split("!"))

['          strong', '', '', '', '']

In [70]:
# Use of replace to change the first argument with second in the method
print(cluttered_string.replace(" ","_"))

__________strong!!!!

In [71]:
# Use of find to encounter the first index where appears a string argument
print(cluttered_string.find('o'))

13

## List management

In [5]:
# Define lists
a= [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [6]:
# To select last value from a list
a[-1]

5

In [7]:
# To select a specific subset from a list
a[1:-2]

[2, 3]

In [8]:
# To access elements onward the second position
a[1:]

[2, 3, 4, 5]

In [43]:
# A list inside a list
my_list=[1,2,[a,b,c]]
my_list

[1, 2, [1, 1, (3, 2)]]

In [45]:
# To access an element inside the second list
my_list[2][2]

(3, 2)

In [22]:
# Use of zip to concatenate lists
names=["Mary", "Peter", "John", "Paul"]
ages=[21,23,26,22]
names_and_ages=zip(names,ages)
print(list(names_and_ages))

[('Mary', 21), ('Peter', 23), ('John', 26), ('Paul', 22)]

In [23]:
# Use of append to grow a list
names.append("George")
names

['Mary', 'Peter', 'John', 'Paul', 'George']

In [7]:
# Use of + to join 2 or more lists
bigger_list=names+ages+["a","b","c"]
bigger_list

['Mary', 'Peter', 'John', 'Paul', 'George', 21, 23, 26, 22, 'a', 'b', 'c']

In [10]:
# Use of range to generate a list. First argument: start, second: end not inclusive and third: step
range_list=range(0,10,2)
print(list(range_list))

[0, 2, 4, 6, 8]

In [14]:
# Obtain the lenght of a list
len(range_list)

5

In [15]:
# Use of count to know how many times an element appears on a list
names.count("George")

1

In [28]:
# To sort a list. It is different from the method .sort()
sorted(names)

['George', 'John', 'Mary', 'Paul', 'Peter']

In [40]:
# List comprehension
temperatures = [-5, 29, 26, -7, 1, 18, 12, 31]
temperatures_adjusted = [temp + 20 for temp in temperatures]
temperatures_adjusted

[15, 49, 46, 13, 21, 38, 32, 51]

In [41]:
# List comprehension with conditionals
temperatures_adjusted = [temp + 20 for temp in temperatures if temp>0]
temperatures_adjusted

[49, 46, 21, 38, 32, 51]

In [10]:
# Lambda function: A simmple function in one line
add_two = lambda input:input+2
add_two(3)

5

In [11]:
#Using range to create an initial list and using comprehension lists to modify it
x_values = [2*index for index in range(5)]
x_values

[0, 2, 4, 6, 8]

## Tuples management

In [2]:
tuple_nr=(1,2,3)
tuple_nr

(1, 2, 3)

In [32]:
# When you have a set of variables and set it to another, it will create a tuple
c=1,2
c

(1, 2)

In [33]:
# Unpack from a tuple to independent variables
y,z=c
print(y,z)

1 2

In [34]:
# To create a one element tuple
one_element_tuple=(1,)
one_element_tuple

(1,)

In [35]:
# Concatenate tuples
tuple1=(1,2,3)
tuple2=(4,5,6)
tuple3=tuple1+tuple2
tuple3

(1, 2, 3, 4, 5, 6)

In [40]:
# Repeat tuples
tuple4=tuple1*3
tuple4

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [37]:
# Validate if an element exists in a tuple
1 in tuple1

True

In [39]:
# Returns the index of an element in a tuple
tuple1.index(1)

0

In [41]:
# Returns how many times an element is repeated
tuple4.count(3)

3

## Dictionaries management

In [1]:
dictNum = {'n1':1,'n2':2, 'n3':3, 'n4':4}
dictNum

{'n1': 1, 'n2': 2, 'n3': 3, 'n4': 4}

In [2]:
# To get just the values
dictNum.values()

dict_values([1, 2, 3, 4])

In [3]:
# To get the value that corresponds just to the key entered
print(dictNum.get('n1'))
print(dictNum['n1'])

1
1

In [4]:
# Returns the value of the entered key, and then deletes the key and value
print(dictNum.pop('n1'))
print(dictNum)

1
{'n2': 2, 'n3': 3, 'n4': 4}

In [5]:
# del dictionary['key']: Eliminates the value (and the key) associated with the indicated key.
del dictNum['n4']
print(dictNum)

{'n2': 2, 'n3': 3}

In [6]:
# Updates the value of a certain key or keys or creates them if they don't exist
dictNum.update({'n3':-3})
dictNum.update({'n4':4})
print(dictNum)

{'n2': 2, 'n3': -3, 'n4': 4}

In [7]:
# Another way to create another key and value
dictNum['n5']=5
print(dictNum)

{'n2': 2, 'n3': -3, 'n4': 4, 'n5': 5}

In [8]:
# To get just the keys
dictNum.keys()

dict_keys(['n2', 'n3', 'n4', 'n5'])

In [9]:
# To express the keys as list
list(dictNum.keys())

['n2', 'n3', 'n4', 'n5']

In [10]:
# "key" in dictionary: returns true (True) or false (False) if the key exists in the dictionary
print ("n2" in dictNum)
print ("n6" in dictNum)

True
False

In [11]:
# "value" in dictionary.values (): returns true (True) or false (False) if the value exists in the dictionary
print(2 in dictNum.values())
print(6 in dictNum.values())

True
False

In [17]:
# To return all the items as pairs
print(dictNum.items())

dict_items([('n2', 2), ('n3', -3), ('n4', 4), ('n5', 5)])

In [12]:
# List comprehension in dictionaries: Combine 2 lists into a dictionary
cities=["Lima","Bogota","Quito","Montevideo","Buenos Aires"]
countries=["Peru","Colombia","Ecuador","Uruguay","Argentina"]
dict_countries={key:value for key,value in zip(countries,cities)}
print(dict_countries)

{'Peru': 'Lima', 'Colombia': 'Bogota', 'Ecuador': 'Quito', 'Uruguay': 'Montevideo', 'Argentina': 'Buenos Aires'}

In [13]:
# Try and except methods to get a key. Except avoids getting an error but a message
key_to_check = "Brasil"
try:
  print(dict_countries['Brasil'])
except KeyError:
  print("That key doesn't exist!")

That key doesn't exist!

In [15]:
# Get method which if the key does not exist, it returns none
print(dict_countries.get('Brasil'))

None

## Sets in python
The `set` data type allows to work with sets and perform set operations on these variables. It is defined in braces (`{}`) and elements are separated with commas.

```python
c = {1,2,3}
```

In [42]:
# Defining sets
c1 = {1, 2, 3, 4, 5, 6}
c2 = {2, 4, 6, 8, 10}
c3 = {1, 2, 3}

In [44]:
# Union of sets
c1|c2

{1, 2, 3, 4, 5, 6, 8, 10}

In [45]:
# Union with a method
c1.union(c2)

{1, 2, 3, 4, 5, 6, 8, 10}

In [46]:
# Intersection of sets
c1 & c2

{2, 4, 6}

In [47]:
# Intersection with a method
c1.intersection(c2)

{2, 4, 6}

In [48]:
# Difference of sets
c1 - c2

{1, 3, 5}

In [50]:
# Difference with a method
c1.difference(c2)

{1, 3, 5}

In [51]:
# Exclusive union
c1^c2

{1, 3, 5, 8, 10}

In [52]:
# Exclusive union with the method
c1.symmetric_difference(c2)

{1, 3, 5, 8, 10}

## Python classes

A class is a template for a data type. It describes how can it store information and what methods it can receive. For example, the data type float cannot receive a .get() method, and you cannot use + between dictionaries.

In [19]:
# To define an empty class
class first_class:
    pass

In [20]:
# Instantiation: To create an instance of a class to be able to use it. It is similar to call a function
# A class instance is also called an object
inst=first_class()

In [21]:
# To define classes and create objects to represent the responsibilities of a program is known as Object Oriented Programming.
# The type function returns the class from an object
print(type(inst))

<class '__main__.first_class'>

In [2]:
# Class variables: Are classes that can be used in every instance of that class
class Music:
  class_var = "Rockstar"
 
drummer = Music()
# Access the variable as object.variable 
print(drummer.class_var)

Rockstar

In [4]:
# Class methods: Are functions defined as part of a class. The first argument is the object calling the class, which by convention is self. 
class Notes:
    def call_doctor(self):
        return "You should call your doctor today"
post_note = Notes()
post_note.call_doctor()

'You should call your doctor today'

In [5]:
# Methods with arguments: If you use a class variable in a class function you should call it with self.variable
class miles_to_km_converter:
    kms_in_a_mile=1.609
    def mile_to_km(self,miles):
        return miles*self.kms_in_a_mile
converter=miles_to_km_converter()
kms_in_5_miles=converter.mile_to_km(5)
print(kms_in_5_miles)

8.045

In [6]:
# Constructors: Also called dunder methods because require double underscore. The most important is __init__() which it is called every time a class is instantiated
class say_hi:
    def __init__(self):
        print("hi")
hello=say_hi()

hi

In [27]:
# Instance variables: They are data held by a specific object and are not shared to all instances.
class simple_class:
    pass
instance_1=simple_class()
instance_2=simple_class()
instance_1.var_1="value for instance 1"
instance_2.var_2="value for instance 2"

In [29]:
# Function hasattr(): Checks if given object has given attribute, for class and instance variables
# For a class variable
class valid_class:
    value="valid"
obj=valid_class()
hasattr(obj,'value')

True

In [30]:
# For a instance variable
hasattr(instance_1,'var_1')

True

In [32]:
# Function getattr(): Get the value of a given object and attribute
print(getattr(obj,'value'))

valid

In [34]:
# Use of self in the constructor to create objects for every entry you need
class search_engine:
    def __init__(self,url):
        self.url=url
google= search_engine("google.com")
wikipedia=search_engine("wikipedia.org")
print(google.url)
print(wikipedia.url)

google.com
wikipedia.org

In [36]:
# As self modify objects and not the class itself, you can perform other operations with it
class search_engine:
    w_prefix="www."
    def __init__(self,url):
        self.url=url
    def w_add(self):
        return self.w_prefix+self.url 
google= search_engine("google.com")
wikipedia=search_engine("wikipedia.org")
print(google.w_add())
print(wikipedia.w_add())

www.google.com
www.wikipedia.org

In [37]:
# Use of dir() to investigate attributes of an object at runtime
# You can use type() in python native data types because they are objects from the classes float, str, list and dict
dir(google)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'url',
 'w_add',
 'w_prefix']

In [38]:
# Use of __repr__() for string represetation of objects as normally it won't give useful information
class employees():
    def __init__(self,name):
        self.name=name
    def __repr__(self):
        return self.name
joseph=employees("Joseph Parker Jr")
print(joseph)

Joseph Parker Jr

## Python modules

In [5]:
# Python files are modules, they can contain functions and declarations that can be used as a tool for another file
# Modules are also referred as libraries
from library import simple_library
value=simple_library()
print(value)

You just used an external library, congrats!

## Help in python

In [13]:
# Help command also shift+tab+tab
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [14]:
# Use of the "?" to get help for the commands
max?

In [15]:
# Use "?" to get help for the variables created
x=2
x?