# Pandas Utilities

Methods and code in Pandas that are important for Pandas but not directly related to data processing for data analysis and data science, also advanced Pandas

## Import Pandas

In [5]:
# Import libraries 
import pandas as pd
import numpy as np

## Print versions

In [2]:
# Print the version of pandas that has been imported.
pd.__version__

'1.1.4'

In [3]:
# Print out all the version information of the libraries that are required by the pandas library.
pd.show_versions(as_json=False)

INSTALLED VERSIONS
------------------
commit           : 67a3d4241ab84419856b84fc3ebc9abcbe66c6b3
python           : 3.6.12.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.0-58-generic
Version          : #64-Ubuntu SMP Wed Dec 9 08:16:25 UTC 2020
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.1.4
numpy            : 1.19.2
pytz             : 2020.4
dateutil         : 2.8.1
pip              : 20.3
setuptools       : 50.3.2.post20201201
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.16.1
pandas_datareader: None
bs4              : 4.9.3
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.3
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
pyxlsb           : None
s3fs             : None
scipy            : 1.5.4
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

## MultiIndex in Pandas

In [117]:
# Given the lists letters = ['A', 'B', 'C'] and numbers = list(range(10)),
#construct a MultiIndex object from the product of the two lists. 
#Use it to index a Series of random numbers. 
letters = ['A', 'B', 'C']
numbers = list(range(5))
mi = pd.MultiIndex.from_product([letters, numbers])
s_2 = pd.Series(np.random.rand(15), index=mi)
s_2

A  0    0.581970
   1    0.022063
   2    0.256083
   3    0.969449
   4    0.942531
B  0    0.637925
   1    0.777131
   2    0.104953
   3    0.588155
   4    0.722349
C  0    0.559908
   1    0.770883
   2    0.879403
   3    0.624149
   4    0.508853
dtype: float64

In [118]:
# To check if a multiIndex lexicographically sorted
#(this is a necessary property for indexing to work correctly with a MultiIndex).
s_2.index.is_lexsorted()

True

In [119]:
# Select the labels 1 and 3 from the second level of the MultiIndexed Series.
s_2.loc[:, [1, 3]]

A  1    0.022063
   3    0.969449
B  1    0.777131
   3    0.588155
C  1    0.770883
   3    0.624149
dtype: float64

In [120]:
# Slice up to label 'B' for the first level and from label 3 onwards for the second level.
s_2.loc[pd.IndexSlice[:'B', 3:]]

A  3    0.969449
   4    0.942531
B  3    0.588155
   4    0.722349
dtype: float64

In [121]:
# Sum the values in s for each label in the first level
s_2.sum(level=0)

A    2.772096
B    2.830513
C    3.343196
dtype: float64

In [122]:
# To unstack the multiIndex
s_2.unstack()

          0         1         2         3         4
A  0.581970  0.022063  0.256083  0.969449  0.942531
B  0.637925  0.777131  0.104953  0.588155  0.722349
C  0.559908  0.770883  0.879403  0.624149  0.508853

In [123]:
# To do a sum with the multiIndex stacked
s_2.sum(level=1)

0    1.779802
1    1.570077
2    1.240439
3    2.181753
4    2.173734
dtype: float64

In [124]:
# To do a sum with the multiIndex unstacked
s_2.unstack().sum(axis=0)

0    1.779802
1    1.570077
2    1.240439
3    2.181753
4    2.173734
dtype: float64

In [125]:
# Exchange the levels of the MultiIndex and lexsort if required
s_3 = s_2.swaplevel(0, 1)
if not s_3.index.is_lexsorted():
    s_3 = s_3.sort_index()
s_3

0  A    0.581970
   B    0.637925
   C    0.559908
1  A    0.022063
   B    0.777131
   C    0.770883
2  A    0.256083
   B    0.104953
   C    0.879403
3  A    0.969449
   B    0.588155
   C    0.624149
4  A    0.942531
   B    0.722349
   C    0.508853
dtype: float64

## Advanced columns operations

In [6]:
# To find the label of the column that contains the second.
# nan for each row
nan = np.nan
df_10 = [[33, nan, nan, 65],
        [nan, nan, 45, 65],
        [35, nan, 56, nan],
        [87, nan, nan, 65],
        [78, nan, 32, nan]]
columns = list('abcd')
df_10 = pd.DataFrame(df_10, columns=columns)
(df_10.isnull().cumsum(axis=1) == 2).idxmax(axis=1)

0    c
1    b
2    d
3    c
4    d
dtype: object

In [7]:
#For each interval of 10 consecutive values in 'A'  
#calculate the sum of the corresponding values in column 'B'.
df_11 = pd.DataFrame(np.random.RandomState(8765).randint(1, 51, size=(50, 2)), columns = ["A", "B"])
df_11.groupby(pd.cut(df_11['A'], np.arange(0, 51, 10)))['B'].sum()

A
(0, 10]     238
(10, 20]    274
(20, 30]    167
(30, 40]    285
(40, 50]    334
Name: B, dtype: int64

In [8]:
#For each value, count the difference back to the previous zero
#(or the start of the Series, whichever is closer). 
#Make this a new column 'Y'.
df_12 = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
izero = np.r_[-1, (df_12 == 0).values.nonzero()[0]]  # indices of zeros
idx = np.arange(len(df_12))
y = df_12['X'] != 0
df_12['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
df_12

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [9]:
#Create a list of the column-row index locations of the 3 largest values in this DataFrame. 
df_13 = pd.DataFrame(np.random.RandomState(30).randint(1, 101, size=(8, 8)))
df_13.unstack().sort_values()[-3:].index.tolist()

[(5, 7), (6, 4), (2, 5)]