# Intro to Regex

In [1]:
# Import libraries
import pandas as pd
import re

### Regex in python

In [2]:
# To find the first position for searched character in string. \s is space
txt = "Data analysis in Pandas"
x = re.search("\s", txt)
print(x.start())

4

In [3]:
# Find all matches in a string
abc = '343-46, 23-55, 343-55'
emails = re.findall(r'[\w\.-]+-[\w\.-]+', abc)
for email in emails:
    print(email)

343-46
23-55
343-55

### Regex in Pandas

In [4]:
# Replace word before special with new value
S=pd.Series(['Basketball-1','Football-2', 'baseball-3','Voleyball-4','tennis-5','Biking-6'])
S.replace(to_replace=r'(B\w+)', value='New',regex=True)

0          New-1
1     Football-2
2     baseball-3
3    Voleyball-4
4       tennis-5
5          New-6
dtype: object

In [5]:
# Replace a word if it has 3 characters
df = pd.DataFrame({'A': ['ear', 'east', 'sunlight'],
                   'B': ['sun', 'west', 'eat']})

df.replace(to_replace=r'^ea.$|^su.$', value='new', regex=True)

          A     B
0       new   new
1      east  west
2  sunlight   new

In [6]:
# To clean dataframe
df2 = pd.DataFrame({'Country':['United States (USA)', 'Colombia (COL)', 'Peru (PER)', 'Mexico (MEX)'],
                    'City':['Washington DC', 'Bogota', 'Lima', 'Mexico DF']})
df2

               Country           City
0  United States (USA)  Washington DC
1       Colombia (COL)         Bogota
2           Peru (PER)           Lima
3         Mexico (MEX)      Mexico DF

In [7]:
def Clean_names(City_name):
    # Search for opening bracket in the name followed by
    # any characters repeated any number of times
    if re.search('\(.*', City_name):
  
        # Extract the position of beginning of pattern
        pos = re.search('\(.*', City_name).start()
  
        # return the cleaned name
        return City_name[:pos]
  
    else:
        # if clean up needed return the same name
        return City_name
          
# Updated the city columns
df2['Country'] = df2['Country'].apply(Clean_names)
df2

          Country           City
0  United States   Washington DC
1       Colombia          Bogota
2           Peru            Lima
3         Mexico       Mexico DF